<div class="mb-6">
    <h2 class="text-2xl font-bold">Liens</h2>
    {{ form_start(form, { 'attr': { 'class': '' } }) }}
        <div class="mb-5">
            {# {{ form_label(form.url, '', { 'label_attr': { 'class': ' block mb-2 text-sm font-medium text-gray-900' } }) }} #}
            {{ form_widget(form.url, { 'attr': { 'class': 'bg-gray-50 border border-bleu-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', 'placeholder': 'url' } } )}}
        </div>
        <div class="mb-5">
            {{ form_widget(form.category, { 'attr': { 'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ' } }) }}
        </div>
        <div class="mb-5">
            <input type="submit" class='bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 p-2.5 text-white text-center' />
        </div>
    {{ form_end(form) }}
</div>
