<turbo-frame id="tabs">
{% set activeTab = 'inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600' %}
{% set inactiveTab = 'inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white' %}
<div class="flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
    {% for category in categories %}
        <li>
            <a href="{{ path('articles_for_category', { 'category': category.id }) }}" class="{{ currentCategory.id is same as(category.id) ? activeTab : inactiveTab }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">{{ currentCategory.name }}</h3>
        {% for article in currentCategory.articles %}
            <div class="flex">
                <a href="{{ article.url }}" target="_blank" class="flex items-center">
                    <img src="{{ article.imageUrl }}" class="h-10 w-20" />
                    <div class="pl-5">
                        <p>{{ article.title }}</p>
                        <p class="text-slate-400">{{ article.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
</turbo-frame>
