<div{{ attributes }}>
    <a href="{{ article.url }}" target="_blank" class="">
        <div class="flex items-center">
            <img src="{{ article.imageUrl }}" class="h-20" />
            <div>
                <p>{{ article.title }}</p>
                <p class="text-slate-400">{{ article.description }}</p>

            </div>
        </div>
    </a>
</div>
